<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>zoomdaily</title>
<link href="static/pages/style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h1><a href="">zoomdaily  </a></h1>
			<p> a news aggregator website.</p>
		</div>
	</div>
	<!-- end #header -->

	<!-- end #menu -->
	<div id="page">
		<div id="content">
			<div class="post">
				<h1 class="title"><a href="#">Welcome to zoomdaily </a></h1>
				<p class="meta">Posted by <a href="http://www.github.com/mayank-gubba">Mayank</a> on May 2, 2019
					&nbsp;&bull;&nbsp; <a href="#" class="comments">Comments (0)</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
				<div class="entry">
					<p>This is <strong>zoomdaily</strong>, a free fully standards-compliant news aggregating web application envisioned by Mayank Gubba<a href="http://www.github.com/mayank-gubba"></a> for his Data Structures project. This webpage runs a script and collects news from major news websites to show in a convenient format. This works very well if you are running short on time since, you can save time by visiting <strong>zoomdaily</strong>.This free template is released under a <a href="http://creativecommons.org/licenses/by/2.5/">Creative Commons Attributions 2.5</a> license, so we're free to use it (even commercially).</p></div>
			</div>
			<div class="post">
				<h2 class="title"><a href="#">Opposition not celebrating sanctioning of Azhar as they may have to pay political price: Arun Jaitley</a></h2>
				<p class="meta">Posted by <a href="#">Economic Times</a> on May 2,2019
					&nbsp;&bull;&nbsp; <a href="#" class="comments">Comments (64)</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
				<div class="entry">
					<p> Describing the UN designating JeM chief Masood Azhar a global terrorist as a great diplomatic victory for India, the BJP on Thursday said opposition parties are reluctant to celebrate the achievement because they feel they may have to pay political price for it.</p>
					<p>The UN Sanctions Committee on Wednesday designated the Pakistan-based Jaish-e-Mohammed chief Azhar a global terrorist after China lifted its hold on a proposal to ban him.</p>
				</div>
			</div>
			<div class="post">
				<h2 class="title"><a href="#">Cyclone Fani: India mass evacuations as storm moves up coast</a></h2>
				<p class="meta">Posted by <a href="#">BBC News</a> on May 2, 2019
					&nbsp;&bull;&nbsp; <a href="#" class="comments">Comments (64)</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
				<div class="entry">
					<p>Officials told BBC Hindi that around 800,000 people are in the process of being evacuated. Nearly 100,000 of them will be evacuated from Puri, a city in Orissa, as authorities believe that this is where the storm will hit hardest. Puri is also home to the 858-year-old Jagannath temple - officials are worried about the impact it could have on the historic building.</p>
					<p>Cyclone Fani will be the fourth storm to hit the country's east coast in the last three decades. </p>
				</div>
			</div>
			<div class="post">
				<h2 class="title"><a href="#">U.N.C. Charlotte Student Couldn’t Run, So He Tackled the Gunman</a></h2>
				<p class="meta">Posted by <a href="#">New York Times</a> on May 2,2019
					&nbsp;&bull;&nbsp; <a href="#" class="comments">Comments (64)</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
				<div class="entry">
					<p> In an alert that flashed across computer and phone screens all over campus, the instructions were spare but urgent: “Run, Hide, Fight. Secure yourself immediately.”</p>
					<p>On Wednesday, students and teachers were still reeling from the attack that left two students, including Mr. Howell, dead and four others injured. Chief Putney said the death toll could have been far worse had Mr. Howell, a 21-year-old former high school soccer goalie, not intervened.</p>
				</div>
			</div>
		</div>
		<!-- end #content -->
		<div id="sidebar">
			<ul>
				<li>
					<h2>Vision</h2>
					<p>This project is a simple implementation of Django+HTML/CSS where a
						python script utilizes the Beautiful Soup scraping libraries to collect online news metadata.
				 </p>
				 <p>Built and developed by: Mayank Gubba</p>
				 <p>Designed by: Shresth Rana</p>
				</li>
				<li>
					<h2>Categories</h2>
					<ul>
						<li><a href="#">Breaking News</a> (3)<span>Current Trending News across the globe.</span></li>
						<li><a href="#">Entertainment</a> (42)<span>News from the show biz.</span></li>
						<li><a href="#">Sports </a> (28)<span>Developments across the sports fandom.</span> </li>
						<li><a href="#">Politics</a> (13)<span>Battle for the Throne</span> </li>
					</ul>
				</li>
				<li>
					<h2>Blogroll</h2>
					<ul>
						<li><a href="#">General Discussion</a><span>General News Discussion</span> </li>
						<li><a href="#">NSFW Discussion</a><span>strictly 18+ age limit.</span> </li>
						<li><a href="#">Political Warfare</a><span>Aggressive Political Discussion.</span> </li>
					</ul>
				</li>
				<li>
					<h2>Archives</h2>
					<ul>
						<li><a href="#">February 2019</a>&nbsp;(28)</li>
						<li><a href="#">March 2019</a>&nbsp;(31)</li>
						<li><a href="#">April 2019</a>&nbsp;(30)</li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end #page -->
	<!-- end #footer -->
</div>
</html>
